<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Bienvenue !</h1>
      <p class="lead"> Ce site vous permet de réaliser et suivre l'évolution de votre roue de la vie !</p>
      <hr class="my-4">
      <% if user_signed_in? %>
        <p> Accédez à toutes les fonctionnalités à partir de votre espace personnel </p>
        <p class="lead">
          <%= link_to "Mon profil", user_path(current_user), class: "btn btn-primary btn-lg" %>
        </p>
      <% else %>
        <p> Connectez vous (ou créez votre compte) pour accéder à toutes les fonctionnalités </p>
        <p class="lead">
          <%= link_to "Se connecter", new_user_session_path, class: "btn btn-primary btn-lg" %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container">
  <h2> Introduction </h2>
  <p> Site réalisé dans les deux objectifs suivants </p>
  <ul>
    <li> Apprentissage personnel du dev web, intégration de webpack, d'un lib js de graphe </li>
    <li> Recherche de l'utilité évenutelle dans le cadre d'un coaching de ce type d'outils </li>
  </ul>
  <p>
    En particulier : licence totalement libre (MIT), 
    code source sur GitHub (<a href="https://github.com/mvoland/app-learn-webpack-plotly"> github.com/mvoland/app-learn-webpack-plotly </a>),
    aucune garantie sur la stabilité et l'utilité du site
  </p>

  <h2> Présentation </h2>

  <p>
    Cette application permet, une fois inscrit, de générer des "roues de la vie" et de conserver l'historique. Une relation coach / élève peut également 
    être établie afin que le coach puisse accèder aux éléments produits par ses élèves
  </p>
  <p>
    Deux comptes de tests sont inclus pour tester l'application à des fins de démonstration, merci de ne pas les supprimer
  </p>
  <ul>
    <li> "user@yopmail.com", mot de passe "123456" </li>
    <li> "coach@yopmail.com", mot de passe "123456" </li>
  </ul>
  <p>
    Il est également possible de créer un compte avec votre adresse mail pour mieux tester cette application
  </p>

</div>
