<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Bienvenue !</h1>
      <p class="lead"> Ce site vous permet de réaliser et suivre l'évolution de votre roue de la vie !</p>
      <hr class="my-4">
      <% if user_signed_in? %>
        <p> Accédez à toutes les fonctionnalités à partir de votre espace personnel </p>
        <p class="lead">
          <%= link_to "Mon profil", user_path(current_user), class: "btn btn-primary btn-lg" %>
        </p>
      <% else %>
        <p> Connectez vous (ou créez votre compte) pour accéder à toutes les fonctionnalités </p>
        <p class="lead">
          <%= link_to "Se connecter", new_user_session_path, class: "btn btn-primary btn-lg" %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container">
  <p> Description à venir </p>
</div>
