<div class="container">

  <h1> Test Radar Graph </h1>

  <%= link_to "Render Graph", static_pages_test_path, remote: true, class: "btn btn-primary" %>

  <div id="graph" style="width:90%"></div>

</div>
