<footer class="py-3 mt-auto">
  <div class="container">
    <p class="m-0 text-center text-white">
      Mathieu Voland - App Learn Webpack Plotly - 
      <a href="https://github.com/mvoland/app-learn-webpack-plotly" class="text-white"> Voir sur GitHub </a>
    </p>
  </div>
</footer>
