<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Les différents modèles </h1>
      <p class="lead"> Ce site vous permet de réaliser et suivre l'évolution de votre roue de la vie !</p>
    </div>
  </div>
<% end %>

<div class="container">

  <h1> Les modèles de roue de la vie </h1>

  <% @wheel_models.each do |model| %>

    <h2> <%= model.name %> </h2>
    <p> <%= model.description %> </p>
    <p> <%= link_to "Détails du modèle", wheel_model_path(model), class: "btn btn-outline-primary" %> </p>

  <% end %>

</div>
